SECRET_KEY=

DEBUG=

NAME=
USER=
PASSWORD=
HOST=
PORT=

# Настройки SMTP E-mail
EMAIL_HOST='smtp.yandex.com'
EMAIL_HOST_USER='ваша-почта@yandex.ru'
EMAIL_HOST_PASSWORD='пароль-приложения'
DEFAULT_FROM_EMAIL ='ваша-почта@yandex.ru'
MANAGER_EMAIL='exsample@mail.ru'
